<div>
    {{!-- <h1> {{description}} </h1> --}}
    <textarea class="form-control" data-task_id="{{id}}"name="taskDescription">{{description}}</textarea>
     {{#if completed}}<h5>task completed</h5>
     {{else}} <h5>task NOT completed</h5>
     {{/if}}

{{#if in_progress}}<h5>task in progress</h5>
     {{else}} <h5>task not in progress</h5>
     {{/if}}

     {{#if completed}}
     <button data-task_id="{{id}}"class= "toggle-complete" type="button">Mark as incomplete</button>
     {{else}}
<button data-task_id="{{id}}"class= "toggle-complete" type="button">Mark as complete</button>
{{/if}}

{{#if in_progress}}
     <button data-task_id="{{id}}"class= "toggle-progress" type="button">Mark as NOT in progress</button>
     {{else}}
<button data-task_id="{{id}}"class= "toggle-progress" type="button">Mark as in progress</button>
{{/if}}
     <button data-task_id="{{id}}"class= "update-task-btn" type="button">Update task</button>
</div>