<div class="container containerNav mt-4">
    <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- when click on a <a> tag it refreshes the page and stops that-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        
        <li class="list">
          <a class="nav-link" href="/" id="yourListBtn">Your list</a>
        </li>

        <li class="list ">
          <a class="nav-link" href="/addList" id="newListBtn">New list</a>
        </li>
      </ul>
    </div>
    </nav>
</div>

<div class="container mainCon mt-5" id="newList">


  <form id="update-list-form"action="#" method="post">
      <h2 class="text-left my-4">Update list</h2>   
      <div class="pack">
          <!-- Title box -->
        <input value={{name}} type="text" id="list-name" class="form-control" name="title" placeholder="Title" required="required">
      </div>  

      <div class="pack">
          <!-- List box -->
        <textarea type="text" class="form-control" id="list-desc" name="list" rows="11" placeholder="U-DO List" required="required">{{description}}</textarea>
      </div>

      <div>
        <h3>Add a task</h3>
        <input type="text" id="new-task" class="form-control" placeholder="New Task">
        <button class="btn btn-success btn-lg btn-block" id="new-taskbtn">Add</button><br>

      </div>

      <div class="pack">
          <!-- Task box -->
        {{#each tasks}}
        {{>task}}
        {{/each}}
      </div>   

          <!-- Save button box -->
      <div class="pack">
          <button type="submit" name="saveList" data-id="{{id}}" class="updateBtn btn btn-success btn-lg btn-block">Save</button><br>
      </div>
  </form>


</div>
<br>
  <div><center>Created by {{user.name}} on {{format_date date_created}}</center></div><br>
<script src="../js/listUpdate.js"></script>
